@import "tailwindcss";

@custom-variant hocus (&:hover, &:focus, &:focus-visible);
@custom-variant grocus (.group:hover>&, .group:focus>&);

@theme {
  --color-primary-50: #e0d9fa;
  --color-primary-100: #c3b6f7;
  --color-primary-200: #a38df5;
  --color-primary-300: #8363f2;
  --color-primary-400: #6342ef;
  --color-primary-500: #4730e4;
  --color-primary-600: #3f2ace;
  --color-primary-700: #3623b9;
  --color-primary-800: #2e1c9e;
  --color-primary-900: #251684;
  --color-primary-950: #1d1372;

  --color-secondary-50: #f5e4fa;
  --color-secondary-100: #f0b9f5;
  --color-secondary-200: #eb8ff0;
  --color-secondary-300: #e65ce9;
  --color-secondary-400: #e23ce5;
  --color-secondary-500: #e54ee5;
  --color-secondary-600: #d44cd4;
  --color-secondary-700: #c24ab3;
  --color-secondary-800: #a14892;
  --color-secondary-900: #8e3471;
  --color-secondary-950: #7c2360;

  --font-sans: "Inter", sans-serif;
  --font-weight-normal: 350;
  --font-weight-medium: 450;
  --tracking-normal: 0.008em;
  --tracking-tight: -0.01em;
}

@theme inline {
  --color-misty: color-mix(
    in oklab,
    var(--color-primary-500) 6.5%,
    var(--color-secondary-500) 6.5%
  );
  --color-ebony: color-mix(
    in oklab,
    var(--color-primary-900) 20%,
    var(--color-gray-950) 90%
  );
  --color-lilac: color-mix(in oklab, var(--color-primary-50) 70%, transparent);
  --color-cloud: color-mix(in oklab, var(--color-primary-100) 70%, transparent);
  --color-frost: color-mix(in oklab, var(--color-primary-300) 20%, white 90%);
  --color-periw: var(--color-primary-400);
  --color-blush: var(--color-secondary-100);
  --color-lovie: var(--color-secondary-200);
  --color-berry: var(--color-secondary-900);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-ebony text-lilac selection:bg-blush font-normal selection:text-berry gap-4 leading-relaxed lg:flex tracking-normal px-6 py-12 font-sans md:px-12 md:py-16 lg:py-0 mx-auto min-h-screen max-w-screen-xl;
    font-feature-settings: "cv01", "cv02", "cv06", "cv11";
  }

  a {
    @apply transition-colors duration-150 ease-[cubic-bezier(.4,0,.2,1)];
  }

  :focus-visible {
    @apply outline-none ring-2 ring-periw ring-offset-2 ring-offset-ebony transition-all duration-100 ease-in-out;
  }

  #song > a:hover {
    @apply !text-teal-400 cursor-[url('/album_art.png'),_auto];
  }

  h1,
  h2 {
    @apply text-frost;
  }
}
